<h1 align="center">Angular Directives</h1>

<p>Angular 8 Directives: Directives are instructions in the DOM (Document Object Model). It specifies how to place our business logic in Angular. The directive is markers on a DOM element that tell Angular to attach a specified behavior to that DOM element or even transform the DOM element and its children. Mostly directives in Angular starts with ng- where ng stands for Angular, and it extends the HTML.</p>
<div>
    There are three kinds of directives:

1. Component Directives

2. Structural Directives

3. Attribute Directives
</div>
<div>
<h2>Component Directives</h2>
Structural Directivesaredone in the elements section. These directives are used to manipulate and change the structure of the DOM elements. Structural directives have a star (*) sign before the directive. Like as,* ngIf, *ngFor, and *ngSwitch directive.


<h1>Example</h1>
<app-child [userName]="name"><app-child>

